

* {
  margin: 0;
}

body {
  padding-bottom: 50px;
}

html {
  background-color: white;
}

.header {
  padding: 40px;
  margin: 0;
  background: black;
  color: white;
  font-size: 20px;
}

.me {
  float: right;
  padding: 5px;
}

.column {
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: large;
  width: 33.33%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-size: x-large;
  text-align: center;
  color: white;
}

h1 {
  color: white;
  text-align: left;
}

h2 {
  color: black;
  text-align: center;
  vertical-align: baseline;
}

p {
  text-align: center;
  font-size: large;
}