p {
  color: white;
  text-align: center;
  vertical-align: baseline;
}

h1 {
  color: white;
  text-align: left;
}

h2 {
  color: white;
  text-align: center;
  vertical-align: baseline;
}

html {
  background-color: black;
}
