* {
  margin: 0;
}

body {
  padding-bottom: 50px;
  
}

html {
  background-color: white;
}

.header {
  padding: 120px;
  margin: 0;
  background: black;
  color: white;
  font-size: 25px;
  position: relative;
}

.imageLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.imageLinks a {
  margin: 0 5px;
}

.column {
  float: left;
  text-align: center;
  font-size: large; 
  width: 33.33%;
  margin-bottom: 0 auto;
  height: 100px;
  line-height: 20px;  
}

.row {
  padding: 0px 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

.information {
  color: black;
}

a {
  font-size: x-large;
  text-align: center;
  color: white;
}

h1 {
  color: white;
  text-align: left;
  text-shadow: 2px 2px navy;
}

h2 {
  color: black;
  text-align: center;
  vertical-align: baseline;
  font-size: xx-large;
}

p {
  font-size: large;
  
}

.anim, .anim svg {
  position: relative;
  width: 66%;
  height: 66%;
}
.anim path {
  stroke-width: 2;
}

.information {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 50px;
  width: 80%;
  align-items: center;
}

.about {
  padding: 50px 0px; 
  min-height: 200px; 
  background-color: white;
  width: 100%;
}

.alignment {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.profile_left {
  display: flex;
  padding-right: 50px;
}

.sources {
  margin-top: 20px;
  text-align: center;
}

.p1 {
  font-weight: bold;
}

.text {
  margin-top: 10px;
  word-wrap: break-word;
  width: 500px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
